<section class="page-content">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <% if @can_add_feedback %>
          <fieldset>
            <div class="field account-sign-in">
              <p>
                <% if !current_company.verify? %>
                  Para avaliar um colaborador primeiro sua empresa necessita ter o status de verificada, por favor verifique sua empresa e aguarde o status de 
                    <%= link_to 'VERIFICADA', company_verify_path(current_company), class: "verify" %>
                <% else %>
                  <%= link_to new_employee_feedback_path(@employee.id), class: 'btn btn-primary btn-sm' do %>
                    <i class="fa fa-plus"></i> Avaliar profissional
                  <% end %>
                <% end %>
              </p>
            </div>
          </fieldset>
        <% else %>
          <p>Você já avaliou esse candidato!</p>
        <% end %>
      </div>
    </div>

    <div class="spacer"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="spacer visible-sm visible-xs"></div>
        <div class="team-single-head">
          <h2><%= @employee.name %></h2>
        </div>
        <p>Email: <%= @employee.email %></p>
        <p>CPF: <%= @employee.cpf %></p>
        <p>Tel: <%= @employee.phone %></p>
      </div>
    </div>

    <% if @employee.feedbacks.count > 0 %>
      <hr class="lg">

      <div class="row">

        <div class="col-md-12">
          <h4>
            <span class="label label-<%= @recommendation_status %>"><%= t("activerecord.models.employee.recommendation.#{@recommendation_status}") %></span>&nbsp;&nbsp;<small>(Recomendação Automática)</small>
          </h4>

          <h3>
            Pontuação (média das avaliações)
            <% if @employee.feedbacks.count == 1 %>
              <small>(<%= @employee.feedbacks.count %> empresa já avaliou esse profissional)</small>
            <% else %>
              <small>(<%= @employee.feedbacks.count %> empresas já avaliaram esse profissional)</small>
            <% end %>
          </h3>

          <h6><%= t('activerecord.attributes.feedback.commitment_score') %></h6>
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @avg_commitment_score %>" aria-valuemin="0" aria-valuemax="10" style="width: <%= @avg_commitment_score %>%;">
              <%= (@avg_commitment_score / 10).round %>
            </div>
          </div>

          <h6><%= t('activerecord.attributes.feedback.excellence_score') %></h6>
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @avg_excellence_score %>" aria-valuemin="0" aria-valuemax="10" style="width: <%= @avg_excellence_score %>%;">
              <%= (@avg_excellence_score / 10).round %>
            </div>
          </div>

          <h6><%= t('activerecord.attributes.feedback.productivity_score') %></h6>
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @avg_productivity_score %>" aria-valuemin="0" aria-valuemax="10" style="width: <%= @avg_productivity_score %>%;">
              <%= (@avg_productivity_score / 10).round %>
            </div>
          </div>

          <h6><%= t('activerecord.attributes.feedback.leadership_score') %></h6>
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @avg_leadership_score %>" aria-valuemin="0" aria-valuemax="10" style="width: <%= @avg_leadership_score %>%;">
              <%= (@avg_leadership_score / 10).round %>
            </div>
          </div>

          <h6><%= t('activerecord.attributes.feedback.proactivity_score') %></h6>
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @avg_proactivity_score %>" aria-valuemin="0" aria-valuemax="10" style="width: <%= @avg_proactivity_score %>%;">
              <%= (@avg_proactivity_score / 10).round %>
            </div>
          </div>

          <h6><%= t('activerecord.attributes.feedback.teamwork_score') %></h6>
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @avg_teamwork_score %>" aria-valuemin="0" aria-valuemax="10" style="width: <%= @avg_teamwork_score %>%;">
              <%= (@avg_teamwork_score / 10).round %>
            </div>
          </div>

          <h6><%= t('activerecord.attributes.feedback.flexibility_score') %></h6>
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @avg_flexibility_score %>" aria-valuemin="0" aria-valuemax="10" style="width: <%= @avg_flexibility_score %>%;">
              <%= (@avg_flexibility_score / 10).round %>
            </div>
          </div>
        </div>
      </div>

    <% end %>

    <hr class="lg">

    <div class="row">
      <div class="content col-md-12">
        <!-- Additional Info Tabs -->
        <div class="tabs">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1-1" data-toggle="tab">Detalhes</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">

            <div class="tab-pane fade in active" id="tab1-1">
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <h4>Informações Extras</h4>
                  <div class="list list__arrow2">
                    <ul>
                      <% if @contribution_to_sales_sum %>
                        <li><b><%= t('activerecord.attributes.feedback.contribution_to_sales') %>:</b> <%= number_to_currency(@contribution_to_sales_sum, precision: 3) %></li>
                      <% else %>
                        <li><b><%= t('activerecord.attributes.feedback.contribution_to_sales') %>:</b> <%= t('views.feedback.contribution_to_sales.did_not_work_with_sales') %></li>
                      <% end %>
                    </ul>
                  </div>

                  <h4>Motivos de desligamentos</h4>
                  <div class="list list__arrow2">
                    <ul>
                      <% @termination_reasons_grouped.each do |termination_reason| %>
                        <li>
                          <b><%= t("views.feedback.termination_reason.code#{termination_reason[0]}") %>:</b> <%= termination_reason[1] %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <!-- Additional Info Tabs / End -->
      </div>
    </div>

  </div>
</section>
