<section class="page-content">
  <div class="container">

    <div class="col-md-12 col-md-offset-4">
      <h3>Adicionar Avaliação</h3>
    </div>

    <div class="spacer-lg"></div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <% if @feedback.errors.any? %>
          <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times"></i></button>
            <ul>
              <% @feedback.errors.full_messages.each do |message| %>
                <li>
                  <strong><%= message %></strong>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="spacer-lg visible-sm visible-xs"></div>

        <%= form_for @feedback, :url => {:controller => "feedbacks", :action => "create"}, :html => {id: 'submit-job-form', class: 'job-manager-form', :multipart => true } do |f| %>

          <fieldset>
            <%= f.label :service_type do %>
              <%= t('activerecord.attributes.feedback.service_type') %> <span class="required">*</span>
            <% end %>
            <div class="field select-style">
              <%= f.select(:service_type,
                [
                  ['Freelancer', 'Freelancer'],
                  ['Temporário', 'Temporário'],
                  ['Permanente', 'Permanente']
                ],
                :prompt => "Selecione...", class: 'form-control') %>
            </div>
          </fieldset>

          <fieldset>
            <%= f.label :role do %>
              <%= t('activerecord.attributes.feedback.role') %> <span class="required">*</span>
            <% end %>
            <div class="field">
              <%= f.text_field :role, class: 'form-control', placeholder: true %>
            </div>
          </fieldset>

          <fieldset>
            <%= f.label :start_at do %>
              <%= t('activerecord.attributes.feedback.start_at') %> <span class="required">*</span>
            <% end %>
            <div class="field">
              <%= f.date_select :start_at, class: 'form-control' %>
            </div>
          </fieldset>

          <fieldset>
            <%= f.label :end_at do %>
              <%= t('activerecord.attributes.feedback.end_at') %> <span class="required">*</span>
            <% end %>
            <div class="field">
              <%= f.date_select :end_at, class: 'form-control' %>
            </div>
          </fieldset>

          <fieldset class="fieldset-job_category">
            <%= f.label :termination_reason do %>
              <%= t('activerecord.attributes.feedback.termination_reason') %> <span class="required">*</span>
            <% end %>
            <div class="field select-style">
              <%= f.select(:termination_reason,
                [
                  ['Redução de custos ou equipe', 1],
                  ['Baixa performance nas tarefas e metas da empresa', 2],
                  ['Não adequado à cultura da empresa', 3],
                  ['Mau entrosamento ou relacionamento com a equipe', 4],
                  ['Múltiplas faltas, atrasos ou advertências', 5],
                  ['Perda de confiança ou crença na integridade ou no trabalho desta pessoa', 6],
                  ['Má relação com superior, não respeita regras e ordens', 7],
                  ['Suspeita de fraude contra as finanças da empresa', 8],
                  ['Baixo ou nenhum comprometimento dos compromissos para qual foi contratado', 9],
                  ['Uso da empresa para obter vantagens pessoais', 10],
                  ['Funcionário pediu desligamento da empresa por motivos próprios', 11],
                  ['Nenhuma das anteriores, apenas um término de contrato', 12]
                ],
                :prompt => "Selecione...", class: 'form-control') %>
            </div>
          </fieldset>

          <fieldset class="fieldset-job_category">
            <%= f.label :commitment_score do %>
              <%= t('activerecord.attributes.feedback.commitment_score') %> <span class="required">*</span>
            <% end %>
            <div class="field select-style">
              <%= f.select(:commitment_score, [ ['Muito Ruim', 1], ['Ruim', 2], ['Regular', 3], ['Bom', 4], ['Muito Bom', 5] ], :prompt => "Selecione...", class: 'form-control') %>
            </div>
          </fieldset>

          <fieldset class="fieldset-job_category">
            <%= f.label :excellence_score do %>
              <%= t('activerecord.attributes.feedback.excellence_score') %> <span class="required">*</span>
            <% end %>
            <div class="field select-style">
              <%= f.select(:excellence_score, [ ['Muito Ruim', 1], ['Ruim', 2], ['Regular', 3], ['Bom', 4], ['Muito Bom', 5] ], :prompt => "Selecione...", class: 'form-control') %>
            </div>
          </fieldset>

          <fieldset class="fieldset-job_category">
            <%= f.label :productivity_score do %>
              <%= t('activerecord.attributes.feedback.productivity_score') %> <span class="required">*</span>
            <% end %>
            <div class="field select-style">
              <%= f.select(:productivity_score, [ ['Muito Ruim', 1], ['Ruim', 2], ['Regular', 3], ['Bom', 4], ['Muito Bom', 5] ], :prompt => "Selecione...", class: 'form-control') %>
            </div>
          </fieldset>

          <fieldset class="fieldset-job_category">
            <%= f.label :leadership_score do %>
              <%= t('activerecord.attributes.feedback.leadership_score') %> <span class="required">*</span>
            <% end %>
            <div class="field select-style">
              <%= f.select(:leadership_score, [ ['Muito Ruim', 1], ['Ruim', 2], ['Regular', 3], ['Bom', 4], ['Muito Bom', 5] ], :prompt => "Selecione...", class: 'form-control') %>
            </div>
          </fieldset>

          <fieldset class="fieldset-job_category">
            <%= f.label :proactivity_score do %>
              <%= t('activerecord.attributes.feedback.proactivity_score') %> <span class="required">*</span>
            <% end %>
            <div class="field select-style">
              <%= f.select(:proactivity_score, [ ['Muito Ruim', 1], ['Ruim', 2], ['Regular', 3], ['Bom', 4], ['Muito Bom', 5] ], :prompt => "Selecione...", class: 'form-control') %>
            </div>
          </fieldset>

          <fieldset class="fieldset-job_category">
            <%= f.label :teamwork_score do %>
              <%= t('activerecord.attributes.feedback.teamwork_score') %> <span class="required">*</span>
            <% end %>
            <div class="field select-style">
              <%= f.select(:teamwork_score, [ ['Muito Ruim', 1], ['Ruim', 2], ['Regular', 3], ['Bom', 4], ['Muito Bom', 5] ], :prompt => "Selecione...", class: 'form-control') %>
            </div>
          </fieldset>

          <fieldset class="fieldset-job_category">
            <%= f.label :flexibility_score do %>
              <%= t('activerecord.attributes.feedback.flexibility_score') %> <span class="required">*</span>
            <% end %>
            <div class="field select-style">
              <%= f.select(:flexibility_score, [ ['Muito Ruim', 1], ['Ruim', 2], ['Regular', 3], ['Bom', 4], ['Muito Bom', 5] ], :prompt => "Selecione...", class: 'form-control') %>
            </div>
          </fieldset>

          <fieldset>
            <%= f.label :contribution_to_sales do %>
              <%= t('activerecord.attributes.feedback.contribution_to_sales') %> <span class="required">*</span>
            <% end %>
            <div class="field">
              <%= f.number_field :contribution_to_sales, class: 'form-control', placeholder: 'Valor R$' %>
            </div>
          </fieldset>

          <fieldset>
            <%= f.label :unjustified_absences do %>
              <%= t('activerecord.attributes.feedback.unjustified_absences') %> <span class="required">*</span>
            <% end %>
            <div class="field">
              <%= f.number_field :unjustified_absences, class: 'form-control', placeholder: '' %>
            </div>
          </fieldset>

          <fieldset>
            <%= f.label :warnings do %>
              <%= t('activerecord.attributes.feedback.warnings') %> <span class="required">*</span>
            <% end %>
            <div class="field">
              <%= f.number_field :warnings, class: 'form-control', placeholder: '' %>
            </div>
          </fieldset>

          <fieldset>
            <%= f.label :late_for_work do %>
              <%= t('activerecord.attributes.feedback.late_for_work') %> <span class="required">*</span>
            <% end %>
            <div class="field">
              <%= f.number_field :late_for_work, class: 'form-control', placeholder: '' %>
            </div>
          </fieldset>

          <div class="spacer"></div>

          <p>
            <%= f.submit 'Adicionar', class: 'btn btn-primary' %>
          </p>
        <% end %>

      </div>
    </div>

  </div>
</section>