<section class="page-content">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="spacer visible-sm visible-xs"></div>
        <div class="team-single-head">
          <h2><%= @feedback.employee.name %></h2>
        </div>

        <p>Email: <%= @feedback.employee.email %></p>
        <p>CPF: <%= @feedback.employee.cpf %></p>
        <p>Tel: <%= @feedback.employee.phone %></p>
      </div>
    </div>

    <hr class="lg">

    <div class="row">

      <div class="col-md-12">
        <h3>Pontuação em minha empresa</h3>

        <br/>

        <h6><%= t('activerecord.attributes.feedback.commitment_score') %></h6>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @feedback.commitment_score_percentage %>" aria-valuemin="0" aria-valuemax="10" style="width: <%= @feedback.commitment_score_percentage %>%;">
            <%= @feedback.commitment_score_percentage / 10 %>
          </div>
        </div>

        <h6><%= t('activerecord.attributes.feedback.excellence_score') %></h6>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @feedback.excellence_score_percentage %>" aria-valuemin="0" aria-valuemax="10" style="width: <%= @feedback.excellence_score_percentage %>%;">
            <%= @feedback.excellence_score_percentage / 10 %>
          </div>
        </div>

        <h6><%= t('activerecord.attributes.feedback.productivity_score') %></h6>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @feedback.productivity_score_percentage %>" aria-valuemin="0" aria-valuemax="10" style="width: <%= @feedback.productivity_score_percentage %>%;">
            <%= @feedback.productivity_score_percentage / 10 %>
          </div>
        </div>

        <h6><%= t('activerecord.attributes.feedback.leadership_score') %></h6>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @feedback.leadership_score_percentage %>" aria-valuemin="0" aria-valuemax="10" style="width: <%= @feedback.leadership_score_percentage %>%;">
            <%= @feedback.leadership_score_percentage / 10 %>
          </div>
        </div>

        <h6><%= t('activerecord.attributes.feedback.proactivity_score') %></h6>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @feedback.proactivity_score_percentage %>" aria-valuemin="0" aria-valuemax="10" style="width: <%= @feedback.proactivity_score_percentage %>%;">
            <%= @feedback.proactivity_score_percentage / 10 %>
          </div>
        </div>

        <h6><%= t('activerecord.attributes.feedback.teamwork_score') %></h6>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @feedback.teamwork_score_percentage %>" aria-valuemin="0" aria-valuemax="10" style="width: <%= @feedback.teamwork_score_percentage %>%;">
            <%= @feedback.teamwork_score_percentage / 10 %>
          </div>
        </div>

        <h6><%= t('activerecord.attributes.feedback.flexibility_score') %></h6>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @feedback.flexibility_score_percentage %>" aria-valuemin="0" aria-valuemax="10" style="width: <%= @feedback.flexibility_score_percentage %>%;">
            <%= @feedback.flexibility_score_percentage / 10 %>
          </div>
        </div>
      </div>
    </div>

    <hr class="lg">

    <div class="row">
      <div class="content col-md-12">
        <!-- Additional Info Tabs -->
        <div class="tabs">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1-1" data-toggle="tab">Detalhes</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">

            <div class="tab-pane fade in active" id="tab1-1">
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <h4>Contrato</h4>
                  <div class="list list__arrow2">
                    <ul>
                      <li><b><%= t('activerecord.attributes.feedback.start_at') %>:</b> <%= I18n.localize @feedback.start_at %></li>
                      <li><b><%= t('activerecord.attributes.feedback.end_at') %>:</b> <%= I18n.localize @feedback.end_at %></li>
                      <li><b><%= t('activerecord.attributes.feedback.service_type') %>:</b> <%= @feedback.service_type %></li>
                    </ul>
                  </div>
                </div>

                <div class="col-sm-6 col-md-6">
                  <br><br>
                  <div class="list list__arrow2">
                    <ul>
                      <li><b><%= t('activerecord.attributes.feedback.role') %>:</b> <%= @feedback.role %></li>
                      <% if @feedback.contribution_to_sales %>
                        <li><b><%= t('activerecord.attributes.feedback.contribution_to_sales') %>:</b> <%= number_to_currency(@feedback.contribution_to_sales, separator: '.') %></li>
                      <% else %>
                        <li><b><%= t('activerecord.attributes.feedback.contribution_to_sales') %>:</b> <%= t('views.feedback.contribution_to_sales.did_not_work_with_sales') %></li>
                      <% end %>
                      <li><b><%= t('activerecord.attributes.feedback.termination_reason') %>:</b> <%= t("views.feedback.termination_reason.code#{@feedback.termination_reason}") %></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Additional Info Tabs / End -->
      </div>
    </div>

  </div>
</section>
