<section class="page-content">
  <div class="container">

    <div class="row">
      <div class="col-md-2">
        <figure class="alignnone">
          <% if @feedback.employee.photo %>
            <%= image_tag "samples/#{@feedback.employee.photo}", alt: @feedback.employee.name %>
          <% else %>
            <%= image_tag "samples/person-shadow.jpg", alt: @feedback.employee.name %>
          <% end %>
        </figure>
      </div>
      <div class="col-md-10">
        <div class="spacer visible-sm visible-xs"></div>
        <div class="team-single-head">
          <h2><%= @feedback.employee.name %></h2>
        </div>

        <p>Email: <%= @feedback.employee.email %></p>
        <p>CPF: <%= @feedback.employee.cpf %></p>
        <p>Tel: <%= @feedback.employee.phone %></p>
      </div>
    </div>

    <hr class="lg">

    <div class="row">

      <div class="col-md-12">
        <h3>Pontuação</h3>

        <br/>

        <h6>Comprometimento</h6>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @feedback.commitment_score_percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @feedback.commitment_score_percentage %>%;">
            <%= @feedback.commitment_score_percentage %>%
          </div>
        </div>

        <h6>Excelência nas atividades</h6>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @feedback.excellence_score_percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @feedback.excellence_score_percentage %>%;">
            <%= @feedback.excellence_score_percentage %>%
          </div>
        </div>

        <h6>Produtividade</h6>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @feedback.productivity_score_percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @feedback.productivity_score_percentage %>%;">
            <%= @feedback.productivity_score_percentage %>%
          </div>
        </div>

        <h6>Qualidade no atendimento</h6>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @feedback.customer_service_score_percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @feedback.customer_service_score_percentage %>%;">
            <%= @feedback.customer_service_score_percentage %>%
          </div>
        </div>

        <h6>Liderança</h6>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @feedback.leadership_score_percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @feedback.leadership_score_percentage %>%;">
            <%= @feedback.leadership_score_percentage %>%
          </div>
        </div>

        <h6>Pró-atividade</h6>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @feedback.proactivity_score_percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @feedback.proactivity_score_percentage %>%;">
            <%= @feedback.proactivity_score_percentage %>%
          </div>
        </div>

        <h6>Relacionamento</h6>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @feedback.teamwork_score_percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @feedback.teamwork_score_percentage %>%;">
            <%= @feedback.teamwork_score_percentage %>%
          </div>
        </div>

        <h6>Flexibilidade</h6>
        <div class="progress">
          <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @feedback.flexibility_score_percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @feedback.flexibility_score_percentage %>%;">
            <%= @feedback.flexibility_score_percentage %>%
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
