<% require 'devise/version' %>

<p><%= t('.instruction', :default => "Someone has requested a link to change your password, and you can do this through the link below.") %></p>

<p><%= t('.instruction_2', :default => "If you didn't request this, please ignore this email.") %></p>

<p><%= link_to t('.action', :default => "Change my password"), edit_password_url(@resource, :reset_password_token => (Devise::VERSION.start_with?('3.') ? @token : @resource.reset_password_token)) %></p>

<p><%= t('.instruction_3_part1') %> <%= mail_to t('.mail_to') %> <%=t('.instruction_3_part2') %></p>

<p><%= t('.footer', default: "Footer!") %></p>
