<!DOCTYPE html>
<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>
  <title>SJOOBS</title>
  <meta charset="utf-8">
  <meta name="description" content="SJOOBS">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
  <%= csrf_meta_tags %>

  <!-- Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic|Bitter:400,700,400italic" rel="stylesheet" type="text/css">

  <!-- CSS -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- JS -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link href="<%= image_path('favicons/favicon.ico') %>" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  
</head>
<body>

  <div class="site-wrapper">

    <!-- Header -->
    <header class="header header-menu-fullw">

      <!-- Header Top Bar -->
      <div class="header-top">
        <div class="container">
          <div class="header-top-left">
            <button class="btn btn-sm btn-default menu-link menu-link__secondary">
              <i class="fa fa-bars"></i>
            </button>
            <div class="menu-container">
              <ul class="header-top-nav header-top-nav__secondary">
                <li><a href="#"><i class="fa fa-twitter"></i> <span class="nav-label">Twitter</span></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i> <span class="nav-label">Facebook</span></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i> <span class="nav-label">Google+</span></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i> <span class="nav-label">Pinterest</span></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i> <span class="nav-label">Instagram</span></a></li>
              </ul>
            </div>
          </div>
          <div class="header-top-right">
            <button class="btn btn-sm btn-default menu-link menu-link__tertiary">
              <i class="fa fa-user"></i>
            </button>
            <div class="menu-container">
              <ul class="header-top-nav header-top-nav__tertiary">
                <% if company_signed_in? %>
                  <li>
                    <%= link_to destroy_company_session_path, method: :delete do %>
                      <i class="fa fa-sign-out"></i> <%= t(".sign_out", :default => "Sign out") %>
                    <% end %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to new_company_registration_path do %>
                      <i class="fa fa-user-plus"></i> <%= t(".sign_up", :default => "Sign up") %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to new_company_session_path do %>
                      <i class="fa fa-sign-in"></i> <%= t(".sign_in", :default => "Sign in") %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Header Top Bar / End -->
      <div class="header-main">
        <div class="container">
          <!-- Logo -->
          <div class="logo">
            <a href="#"><%= image_tag "logo.png", alt: "Handyman" %></a>
          </div>
          <!-- Logo / End -->

          <button type="button" class="navbar-toggle">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Navigation -->
          <nav class="nav-main">
            <div class="nav-main-inner">
              <ul data-breakpoint="992" class="flexnav">
                <% if company_signed_in? %>
                  <li class="<%= is_active?(feedbacks_path) %>"><%= link_to "Minhas avaliações", feedbacks_path %></li>
                  <li class="<%= is_active?(search_employees_path) %>"><%= link_to "Buscar ou Avaliar Profissional", search_employees_path %></li>
                <% else %>
                  <li class="<%= is_active?(new_company_session_path) %>"><%= link_to "Home", new_company_session_path %></li>
                  <li class="<%= is_active?(page_pricing_path) %>"><%= link_to "Planos", page_pricing_path %></li>
                  <li class="<%= is_active?(page_faq_path) %>"><%= link_to "Dúvidas", page_faq_path %></li>
                  <li class="<%= is_active?(page_contact_path) %>"><%= link_to "Contato", page_contact_path %></li>
                <% end %>
              </ul>
            </div>
          </nav>
          <!-- Navigation / End -->

        </div>
      </div>

    </header>
    <!-- Header / End -->

    <!-- Main -->
    <div class="main" role="main">

      <!-- Page Content -->
      <%= yield %>
      <!-- Page Content / End -->

      <!-- Footer -->
      <footer class="footer" id="footer">
        <div class="footer-widgets">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-8 col-md-offset-4">
                <!-- Widget :: Contacts Info -->
                <div class="contacts-widget widget widget__footer">
                  <h3 class="widget-title">Contate-nos</h3>
                  <div class="widget-content">
                    <ul class="contacts-info-list">
                      <li>
                        <i class="fa fa-map-marker"></i>
                        <div class="info-item">
                          1016 East Oscelola Pkwy, Orlando, FL - United States<br/>
                          Av, Claudio Besseman Vianna, 3 . bl 06, 307, Barra da Tijuca, RJ - Brasil
                        </div>
                      </li>
                      <li>
                        <i class="fa fa-phone"></i>
                        <div class="info-item">
                          +1 (954) 716 2768 - U.S.<br/>
                          (21) 3687-8134 - Brasil<br/>
                          (22) 98858-4566 (WhatsApp)<br/>
                        </div>
                      </li>
                      <li>
                        <i class="fa fa-envelope"></i>
                        <span class="info-item">
                          <a href="mailto:info@dan-fisher.com">contato@sjoobs.com.br</a>
                        </span>
                      </li>
                      <li>
                        <i class="fa fa-clock-o"></i>
                        <div class="info-item">
                          Horário de atendimento: Segunda à Sábado - 8h as 20h
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /Widget :: Contacts Info -->
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                &copy; 2016  <a href="index.html">SJOOBS</a> &nbsp;| &nbsp;Todos os direitos reservados
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer / End -->

    </div>
    <!-- Main / End -->
  </div>

</body>
</html>